<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <link rel="icon" sizes="32x32" href="imag/icons8-dictionary-100.png" type="image/png">
    <style>
        .rotate-60 {
            transform: rotate(60deg);
        }

        .rotate--60 {
            transform: rotate(-60deg);
        }

        .fa-trash-can:hover {
            transform: scale(1.2);
            /* Increases size by 20% */
            transition: transform 0.2s ease-in-out;
            /* Smooth transition */
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="bg-gray-50">
            <div class="max-w-screen-lg mx-auto mt-5
             p-6 bg-white shadow-md rounded-lg">
                <h1 class="text-4xl font-bold text-teal-400 text-center mb-6">Dictionary</h1>

                <div class="flex justify-center mb-6 relative">
                    <input type="text" v-model="searchQuery" placeholder="Search"
                        class="w-full max-w-xs px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-teal-400"
                        @keyup="matchHistory" @keyup.enter="getWord">
                    <button
                        class="ml-3 text-teal-500 hover:text-teal-700 transform transition-all duration-200 ease-in-out"
                        @click="toggleHistory"
                        :class="{ 'rotate-60': rotateClockwise, 'rotate--60': !rotateClockwise }">
                        <i class="fa-solid fa-clock-rotate-left hover:scale-110 transition-transform duration-200"></i>
                    </button>


                    <!-- Wrapper to center the dropdown -->
                    <div class="absolute top-full left-0 mt-2 w-full flex justify-center z-10">
                        <!-- Dropdown list for search history -->
                        <div v-if="showHistory"
                            class="w-full max-w-xs bg-white border rounded-md shadow-lg overflow-auto"
                            style="max-height: 30vh;">
                            <ul>
                                <li v-for="(word, index) in filteredHistory" :key="index"
                                    class="cursor-pointer px-4 py-2 hover:bg-gray-100">
                                    <span @click="searchQuery = word; getWord()">{{ word }}</span>
                                    <span class="float-right " @click="deleteHistory(index)">
                                        <i class="fa-solid fa-trash-can "></i>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="space-y-4" v-if="Dictionary.length">
                    <div v-for="(item, index) in Dictionary" :key="'a'+index" class="text-lg">
                        <h2 :class="getWordClass(item.meanings[0].partOfSpeech)" class="text-2xl font-bold">
                            {{ item.word }}
                        </h2>
                        <hr class="text-bold">
                        <div v-for="(phonetic, pIndex) in item.phonetics" :key="'p'+pIndex" class="mt-2">
                            <p v-if="phonetic.text"><strong>Phonetic:</strong> {{ phonetic.text }}</p>
                            <button v-if="phonetic.audio" @click="playAudio(phonetic.audio)"
                                class="text-teal-500 hover:underline">
                                <i class="fas fa-volume-up"></i>
                            </button>
                        </div>
                        <div v-for="(meaning, mIndex) in item.meanings" :key="'m'+mIndex" class="mt-2">
                            <p :class="getPartOfSpeechClass(meaning.partOfSpeech)">
                                <strong>{{ meaning.partOfSpeech }}</strong>
                            </p>
                            <ul>
                                <li v-for="(definition, dIndex) in meaning.definitions" :key="'d'+dIndex">
                                    {{ definition.definition }}
                                </li>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>

                <div v-if="!Dictionary.length && !first_load" class="text-center text-gray-500">
                    No results found. Try searching for a different word.
                </div>
                <div v-if="first_load" class="text-center text-gray-500">
                    Try to search some words
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.js"
    integrity="sha512-F/dia2jKME12jwqiYDayeD+Rr/8jTWUD2wfbuJB0bzSwenSEnXsn4qQ/wVyXUCix5bmCAj8xJdtFr2OqUtjLAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                Dictionary: [],
                searchQuery: '',
                rotate: false,
                searchHistory: [],  // To store the search history
                showHistory: false, // To toggle the history dropdown
                first_load: true,
                rotateClockwise: false
            }
        },
        mounted() {
            this.loadSearchHistory();  // Load search history on app start
            document.addEventListener('click', this.handleClickOutside);
        },
        beforeUnmount() {
            document.removeEventListener('click', this.handleClickOutside);
        },
        methods: {
            getWord() {
                this.showHistory = false
                this.first_load = false
                this.rotateClockwise = false
                if (!this.searchQuery) return;

                let api_url = `https://api.dictionaryapi.dev/api/v2/entries/en/${this.searchQuery}`
                let vm = this
                $.LoadingOverlay("show");

                axios.get(api_url)
                    .then(function (response) {
                        vm.Dictionary = response.data;
                        $.LoadingOverlay("hide");

                        if (vm.Dictionary.length !== 0) {
                            vm.addToSearchHistory(vm.searchQuery);
                        }
                        vm.searchQuery = ''

                    })
                    .catch(function (error) {
                        console.log(error);
                        vm.Dictionary = [];
                        $.LoadingOverlay("hide");
                    });

            },
            matchHistory() {
                // Show the dropdown if there are matches
                this.showHistory = this.filteredHistory.length > 0;
            },
            playAudio(audioUrl) {
                let audio = new Audio(audioUrl);
                audio.play();
            },
            getPartOfSpeechClass(partOfSpeech) {
                switch (partOfSpeech) {
                    case 'noun':
                        return 'text-green-500';
                    case 'verb':
                        return 'text-blue-500';
                    case 'adverb':
                        return 'text-purple-500';
                    case 'adjective':
                        return 'text-orange-500';
                    default:
                        return 'text-black';
                }
            },
            getWordClass(partOfSpeech) {
                return this.getPartOfSpeechClass(partOfSpeech);
            },
            addToSearchHistory(word) {
                if (!this.searchHistory.includes(word)) {
                    this.searchHistory.push(word);
                    Cookies.set('searchHistory', this.searchHistory, { expires: 7 });
                }
            },
            loadSearchHistory() {
                const history = Cookies.get('searchHistory');
                if (history) {
                    this.searchHistory = history.split(',');
                }
            },
            toggleHistory() {
                this.showHistory = !this.showHistory;
                this.rotateClockwise = !this.rotateClockwise;
            },
            handleClickOutside(event) {
                const dropdown = this.$el.querySelector('.absolute');
                if (dropdown && !dropdown.contains(event.target) && !event.target.closest('button')) {
                    this.showHistory = false;
                }
            },
            deleteHistory(index) {
                this.searchHistory.splice(index, 1);
                // Update the cookie
                Cookies.set('searchHistory', this.searchHistory.join(','), { expires: 7 });
                swal({
                    title: "Success!",
                    text: "You deleted sucessfuly!",
                    icon: "success",
                    timer: 600,
                    buttons: false
                });
            }
        },
        computed: {
            filteredHistory() {
                // Filter the search history based on the search query
                return this.searchHistory.filter(word => word.toLowerCase().includes(this.searchQuery.toLowerCase()));
            }
        }
    }).mount('#app')

</script>

</html>